
/* question text */
.q {
    color: #228B22;
    font-weight: bold;
}

/* basic containers */
.container {
    max-width: 900px;   
}

/* Footer */

.footer {
  line-height: 60px;
  /*background-color: #4682B4;*/
  /*color: #FFFFFF;*/
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 900px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #4682B4;
  color: #A9A9A9;
}

/* NAVBAR STUFF */

/* navbar */
.navbar-fixed-top {
    background-color: #4682B4;
    border-color: #4682B4;
}
/* Title */
.navbar-fixed-top .navbar-brand {
    color: #FFFFFF;
}
.navbar-fixed-top .navbar-brand:hover,
.navbar-fixed-top .navbar-brand:focus {
    color: #FFFFFF;
}
/* Link */
.navbar-fixed-top .navbar-nav > li > a {
    color: #FFFFFF;
}
.navbar-fixed-top .navbar-nav > li > a:hover,
.navbar-fixed-top .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-fixed-top .navbar-nav > .active > a,
.navbar-fixed-top .navbar-nav > .active > a:hover,
.navbar-fixed-top .navbar-nav > .active > a:focus {
    color: #333;
    background-color: #4682B4;
}
.navbar-fixed-top .navbar-nav > .open > a,
.navbar-fixed-top .navbar-nav > .open > a:hover,
.navbar-fixed-top .navbar-nav > .open > a:focus {
    color: #333;
    background-color: #4682B4;
}
/* Caret */
.navbar-fixed-top .navbar-nav > .dropdown > a .caret {
    border-top-color: #4682B4;
    border-bottom-color: #4682B4;
}
.navbar-fixed-top .navbar-nav > .dropdown > a:hover .caret,
.navbar-fixed-top .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-fixed-top .navbar-nav > .open > a .caret,
.navbar-fixed-top .navbar-nav > .open > a:hover .caret,
.navbar-fixed-top .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-fixed-top .navbar-toggle {
    border-color: #DDD;
}
.navbar-fixed-top .navbar-toggle:hover,
.navbar-fixed-top .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-fixed-top .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-fixed-top .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-fixed-top .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-fixed-top .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}